{% extends 'blogapp/base.html' %}

{% block seo_title %}
  Categories
{% endblock %}

{% block content %}
{{ cats }}

{% if post_categories %}
<div class="category_title container-fluid bg-dark">
  <h2 style="color:white;">{{ category.name }}</h2>
  <p style="color:white;">{{ category.description }}</p>
</div>
<hr>
{% for item in post_categories %}
<div class="container-fluid">
  <ul class="list-unstyled">
    <li><h3><a href="{% url 'post_detail' item.slug %}">{{ item.title }}</a></h3></li>
    <li><p><small class="text-secondary">by {{ item.author.first_name }} {{ item.author.last_name }}</small></p></li>
    <li><p>{{ item.text|truncatechars:50 }}</p></li>
    <li><p>{{ item.created_date }}</p></li>
  </ul>
</div>
{% endfor %}

{% else %}

<h3>Sorry, this page doesn't exist!</h3>
{% endif %}

{% endblock %}
