{% extends 'blogapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit a blog post{% endblock %}

{% block content %}


    <!-- Sign In Section Begin-->
{% if user.is_authenticated %}
    <div class="signin ">
        <div class="signin__warp">
            <div class="signin__content"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                <div class="signin__logo">
                    <a href="{% url 'home' %}"><img src="{% static 'img/logo7.png' %}" alt=""></a>
                </div>
                <p>Edit this blog post, below! If you want it to appear in the featured section on the side column of the main page, then check the "Featured" checkbox, otherwise not."</p>
                <div class="signin__form">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="signin__form__text">
                                <form action="{% url 'home' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.media }}
                                    {{ form|crispy }}

                                    <button type="submit" class="site-btn">Save post</button><br/><hr>
                                    <a type="button" href="{% url 'home' %}" class="btn btn-secondary">Back home</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
<strong><h3>Sorry, you are not logged in!</h3></strong>
{% endif %}
    <!-- Sign In Section End -->
{% endblock %}

