{% extends 'blogapp/base.html' %}

{% block content %}
<div class="underheader container-fluid mb-5">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <form class="float-left form-inline my-2 mr-0 my-lg-0 justify-content-end" method="GET" action="{% url 'search' %}">
        <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search...">
        <button class="btn btn-outline-dark type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</div>


{% for post in object_list %}
  {% if post.status == 'Published' %}
  <ul class="list-unstyled">
    <li><h3><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h3></li>
    <li><p><small>by {{ post.author.first_name }} {{ post.author.last_name }}</small></p></li>
    <li><p><small><a href="{% url 'category_detail' slug=post.category.slug %}">{{ post.category }}</a></small></p></li>
    <li><p>{{ post.text|slice:100 }}</p></li>
    <li><p>{{ post.created_date }}</p></li>
  </ul>
  {% endif %}
{% endfor %}

{% if object_list.has_other_pages %}
<div class="pagination container-fluid justify-content-center my-5">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}=1">&laquo; first</a>
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}">next</a>
            <a href="?{{ page_request_var }}={{ object_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}


{% endblock %}
