{% extends 'blogapp/base.html' %}

{% block seo_title %}
{% endblock %}

{% block seo_description %}
{% endblock %}

{% block content %}
<div class="underheader container-fluid mb-5">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <form class="float-left form-inline my-2 mr-0 my-lg-0 justify-content-end" method="GET" action="{% url 'search' %}">
        <input name="q" value="{{ request.GET.q }}" placeholder="Search...">
        <button class="btn btn-outline-dark type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</div>
{% for item in post_categories %}
<div class="posts container-fluid mb-3 ">
  <ul class="list-unstyled">
    <li class="text-center"><h1>{{ item.title }}</h1></li>
    <li class="text-center"><p>by {{ item.author }}</p></li>
    <li class="text-center"><p><small><a href="{% url 'category_detail' slug=post.category.slug %}">- {{ item.category }} -</a></small></p></li>
    <li><p>{{ item.text }}</p></li>
    <li><p>{{ item.created_date }}</p></li>
  </ul>
</div>
{% endfor %}
{% endblock %}
